<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <h1><a href="/">Ninja Smoothies</a></h1>
    </nav>
    <form action="/signup" method="POST">
        <h2>Sign up</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>Sign up</button>
    </form>

    <footer>Copyright 2020 Ninja Smoothies</footer>

</body>

</html>